:root{
    --add-butt:red;
    --add-butt-hover:blue;
    --add-butt-active:green;
}

body {
    background-color: aliceblue;
    width: auto;
}

#home-rect {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #79FCF4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
  }

ul li {
    display: block;
    color: aliceblue;
    padding-bottom: 20px;
    font-size: 20px;
}

ul li:hover {
    background-color: aqua;
}

h3 {
    color: aliceblue;
    text-align: center;
    font-size: 25px;
}

/*Add button*/

.add-butt{
    height:3rem;
    aspect-ratio:1/1;
    position:absolute;
    bottom:0;
    right:0;
    margin-right:2rem;
    margin-bottom:2rem;
    border-radius:50%;
    border:0.5rem solid var(--add-butt);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.add-butt :where(.p1,.p2){
    content:'';
    position:absolute;
    height:50%;
    aspect-ratio:0.25/1;
    background-color:var(--add-butt);
}

.add-butt .p2{
    transform:rotate(90deg);
}

.add-butt:hover{
    border-color:var(--add-butt-hover);
}

.add-butt:hover :where(.p1,.p2){
    background-color:var(--add-butt-hover);
}

.add-butt:active{
    border-color:var(--add-butt-active);
    transform:scale(0.75);
}

.add-butt:active :where(.p1,.p2){
    background:var(--add-butt-active);
}

/*Add button End*/
